*{
    margin: 0px;
    padding: 0px;
}
.head{
    font-size: 100px;
}
.navv{
    position: relative;
    bottom: 30px;
}

.sideBarLeft{
    margin-top: 0px;
    position: absolute;
    /* bottom: 10px; */
width: 15%;
height:2500px ;
background-color: skyblue;
top: -50px;
z-index: -1;

}

.sideBarRight{
    margin-top: 0px;
    position: absolute;
   
width: 15%;
height:2500px ;
background-color: skyblue;
top: -50px;
margin-left:85%;
z-index: -1;
}




.mainAboutMeBlock{

    height: 600px;
    background-color: #e9ecef;
    padding: 10px;
    padding-left: 10px;
    /* border: 5px solid darkgray; */
    border-radius: 5%;
    
}
.banner-List{
display: flex;
margin: 30px;

}
.banner-List li {
    display: inline;
}
.abli{
    color: springgreen;
margin:50px ;
font-size: 40px;
text-decoration: blue underline;
z-index: 2;
}

.prli{
    color: springgreen;
    margin:50px ;
    font-size: 40px;
    text-decoration: blue underline;
    z-index: 2;
}

.SmallText{
font-size: 25px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contBtn{
    margin-right: 100%;
    height: 70px;
    font-size: 40px;
}



.myInfo{
    height: 200px;
    background-color: gray;
    border: 5px solid skyblue;
    margin-left:30px ;
    margin-right: 40px;
}
.myCoding{
    position: relative;
    height: 200px;
    background-color:gray;
    border: 5px solid skyblue;
    
    
}

.libraries{
margin-left: 30%;

}
.myBio{
    margin-top: 50px;
    height: 300px;
    background-color: gray;
    border: 5px solid skyblue;
}
.sideText{
 font-size: 30px;
font-weight: bolder;
margin-left: 30px;
font-style: italic;
text-decoration: blue underline;
}
.projectBlock{
    background-color: #e9ecef;
}

.dayPlanner{
    margin-left: 50%;
}


.mainBlock{
    padding:0px;
    width: 1000px;
    border:5px solid skyblue;
    height:500px ;
    margin: 25px auto;
    padding: 0px;
}
.leftBlock{
    border:5px solid skyblue;
    border-right: 2.5px solid skyblue;
    padding: 0px;
}
.rightBlock{
 padding: 0px;
    border:5px solid skyblue;
    border-left:2.5px solid skyblue;
}

@media screen and (max-width: 1250px){
    .infoList{
        position: relative;
        top:30px
    }
.myCoding{
    position: relative;
    
    width: 200px;
   left: 10%;
    

}
.myBio{
    position: relative; 
    margin-bottom: 40px;
}
.mainAboutMeBlock{
    height: 800px;
}
}
@media screen and (max-width: 1000px){
.mainBlock{
    height: 250px;
    width: 500px;
}
.leftBlock{
    height: 300px;
    width: 300px;
}
.rightBlock{
    height: 300px;
    width: 300px;
}
.abli{
    font-size:30px
}
.prli{
    font-size: 30px;
}
.librariesHeader{
    font-size:20px
}
.sideBarLeft{
    width: 20px;
}
.sideBarRight{
    width: 20px;
    margin-left: 98%;
}
.languagesHeader{
    font-size:20px
}
}

@media screen and (max-width: 800px){

.myCoding{
    font-size: 12px;
}

.leftBlock{
    height: 250px;
    width: 250px;
}
.rightBlock{
    height: 250px;
    width: 250px;
}
}

@media screen and (max-width: 700px){
.infoList{
    margin-left: 20%;
}
.mainBlock{
    width: 350px;
    height: 350px;
}
.leftBlock{
    width: 200px;
    height: 200px;
}
.rightBlock{
    width: 200px;
    height: 200px;
}
}


