*{
    margin: 0px;
    padding: 0px;
}
.head{
    font-size: 100px;
}
.navv{
    position: relative;
    bottom: 30px;
}


.mainAboutMeBlock{

    height: 600px;
    background-color: #e9ecef;
    padding: 10px;
    padding-left: 10px;
    /* border: 5px solid darkgray; */
    border-radius: 5%;
    
}
.banner-List{
display: flex;
margin: 30px;

}
.banner-List li {
    display: inline;
}
.abli{
margin:50px ;
font-size: 40px;
text-decoration: blue underline;
}

.prli{
    margin:50px ;
    font-size: 40px;
    text-decoration: blue underline;
}

.SmallText{
font-size: 25px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contBtn{
    margin-right: 100%;
    height: 70px;
    font-size: 40px;
}



.myInfo{
    height: 200px;
    background-color: gray;
    border: 5px solid skyblue;
    margin-left:30px ;
    margin-right: 40px;
}
.myCoding{
    position: relative;
    height: 200px;
    background-color:gray;
    border: 5px solid skyblue;
    
}

.libraries{
margin-left: 30%;

}
.myBio{
    margin-top: 50px;
    height: 300px;
    background-color: gray;
    border: 5px solid skyblue;
}
.sideText{
 font-size: 30px;
font-weight: bolder;
margin-left: 30px;
font-style: italic;
text-decoration: blue underline;
}
.projectBlock{
    background-color: #e9ecef;
}

.dayPlanner{
    margin-left: 50%;
}


.mainBlock{
    padding:0px;
    width: 1000px;
    border:5px solid blue;
    height:500px ;
    margin: 25px auto;
    padding: 0px;
}
.leftBlock{
    border:5px solid blue;
    border-right: 2.5px solid blue;
    padding: 0px;
}
.rightBlock{
 padding: 0px;
    border:5px solid blue;
    border-left:2.5px solid blue;
}